.contact {
    background-color: var(--color-blue);
    padding: 70px 0;

    color: var(--color-white);
}

.contact__headline {
    margin-top: 0;
    color: var(--color-white);
}

.contact__text {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

