.header {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding-top: 20px;
    padding-bottom: 20px;
    $margin-bottom: 30px;

    margin-bottom: $margin-bottom;
    position: relative;

    a {
        color: var(--color-white);
    }

    & + .intro {
        margin-top: -$margin-bottom;
    }
}

.header__container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;

    @include media-laptop {
        flex-direction: row;
        justify-content: flex-end;
    }
}