.header__lang-switcher {
  position: relative;
}

.language-switcher {
  @include reset-list;
  position: absolute;
  top: calc(100% + 10px); /* Добавляем немного отступа между кнопкой и списком */
  left: 0;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000; /* чтобы она отображалась над другими элементами */
  width: auto; /* установите ширину по вашему усмотрению */

  background-color: transparent;

  font-size: 18px;
  text-transform: uppercase;

  &.show,
  &:focus-within {
    opacity: 1;
    pointer-events: auto;
  }
}

.language-switcher__link {
  display: block;
  text-decoration-color: transparent;
  @include transition(text-decoration-color);
  padding: 5px 10px;
  background-color: var(--color-blue);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &:hover,
  &:focus {
    text-decoration-color: inherit;
  }
}

.language-switcher__button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 5px;
  font-size: 18px;
  color: var(--color-white);
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 0.3em;

  @include transition;

  &:hover,
  &:focus {
    color: var(--color-blue);
    background-color: var(--color-white);

    svg {
      fill: var(--color-blue);
    }
  }

  svg {
    @include transition(transform);
    fill: var(--color-white);
  }

  &.open {
    svg {
      transform: rotate(180deg);
    }
  }
}
